body{
  padding: 0;
  margin: 0 auto;
}

div {
  margin: 0;
}

p, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  color: black;
}

h1, h2 {
  font-family: 'Permanent Marker', cursive;
}

.header {
  height: auto;
  display: block;
  text-align: center;
}

.overlay {
  height: auto;
  text-align: center;
}

.header img {
  width: 100%;
  opacity: 1;
  overflow: hidden;
}

.gold-text {
    color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url(img/goldfoil7.png) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}

.gold-default {
  color: #c3a343;
}

.birthdayInformation {
  height: auto;
  text-align: center;
  margin-bottom: 40px;
}

.purpleInformation {
  text-align: center;
  padding: 40px 0 40px 0;
  text-align: center;
  height: 150px;
}

.purpleInformation h2, h3 {
  color: white;
}

.birthdayInformation img{
  max-height: 300px;
}

.flatLayPicture {
  height: 500px;
  text-align: center;
  overflow: hidden;
}

.flatLayPicture img {
  width: 100%;
}

.crownSection {
  height: 600px;
  text-align: center;
}

.contactSection {
  height: auto;
  text-align: center;
  padding: 20px 0 20px 0;
  color: white;
}

.contactSection P {
  color: white;
}

.picSection {
  padding: 40px 0 40px 0;
}

.contactBar {
  height: auto;
  padding: 30px 0 30px 0;
}

.aboutMe {
  width: 25%;
  display: inline-block;
}

 .booking {
  width: 65%;
  display: inline-block;
  vertical-align: top;
}

#mc_embed_signup {
  padding: 15px;
  text-align: center;
}

#mc_embed_signup label{
  font-size: 24px;
  font-family: 'Permanent Marker';
}

#mc_embed_signup input{
  display: inline;
  color: #c3a343;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
  url(img/goldfoil7.png) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  border-bottom: : 1px solid #c3a343;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 5px;
  width: 150px;
}

#linearBg2 {
  /* fallback */
  background-color: #1a82f7;
  background: url(images/linear_bg_2.png);
  background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a96da3), to(#cfcfea));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #cfcfea, #a96da3);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #cfcfea, #a96da3);

  /* IE 10 */
  background: -ms-linear-gradient(top, #cfcfea, #a96da3);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #cfcfea, #a96da3);
}
